In [ ]:
import pandas as pd

# 1. Load the data

In [4]:
import pandas as pd

In [ ]:
df = pd.read_csv('../datasets/agoda_cancellation_train.csv')

In [5]:
df.head()

,h_booking_id,booking_datetime,checkin_date,checkout_date,hotel_id,hotel_country_code,hotel_live_date,hotel_star_rating,accommadation_type_name,charge_option,...,request_highfloor,request_largebed,request_twinbeds,request_airport,request_earlycheckin,cancellation_datetime,hotel_area_code,hotel_brand_code,hotel_chain_code,hotel_city_code
0,-9223194055642672935,2018-06-28 21:15:00,2018-07-09 00:00:00,2018-07-13 00:00:00,6452,HK,2009-06-28 02:02:00,4.0,Hotel,Pay Now,...,NaN,NaN,NaN,NaN,NaN,NaN,1192,NaN,NaN,142
1,-9222713784330706132,2018-08-10 22:31:00,2018-08-16 00:00:00,2018-08-17 00:00:00,47729,CN,2011-06-07 11:52:00,4.0,Hotel,Pay Later,...,0.0,0.0,1.0,0.0,0.0,NaN,5617,902.0,600.0,1273
2,-9222411208325704942,2018-09-14 07:55:00,2018-09-14 00:00:00,2018-09-15 00:00:00,780431,KR,2014-11-20 15:43:00,4.0,Hotel,Pay Now,...,0.0,0.0,0.0,0.0,0.0,NaN,3819,NaN,NaN,2799
3,-9222220845872895471,2018-06-25 07:33:00,2018-07-02 00:00:00,2018-07-03 00:00:00,291365,JP,2011-11-21 12:27:00,3.0,Hotel,Pay Later,...,0.0,1.0,0.0,0.0,0.0,NaN,2379,466.0,236.0,1448
4,-9221127186162682116,2018-07-23 10:06:00,2018-08-09 00:00:00,2018-08-10 00:00:00,479046,TH,2013-06-06 10:04:00,3.0,Resort,Pay Later,...,0.0,1.0,0.0,0.0,0.0,2018-07-23,1506,NaN,NaN,616

In [41]:
[c for c in df.columns if 'hotel' in c]

['hotel_id',
 'hotel_country_code',
 'hotel_live_date',
 'hotel_star_rating',
 'hotel_area_code',
 'hotel_brand_code',
 'hotel_chain_code',
 'hotel_city_code']

In [36]:
DATE_COLUMNS = ['checkin_date', 'checkout_date', 'booking_datetime', 'hotel_live_date']

df[DATE_COLUMNS]
for col in DATE_COLUMNS:
    print(col)
    print(df[col].value_counts())
    # count the number of missing values
    print('amount of empty', df[col].isnull().sum())

checkin_date
2018-07-28 00:00:00    1082
2018-07-27 00:00:00     998
2018-09-15 00:00:00     996
2018-08-18 00:00:00     975
2018-09-22 00:00:00     955
                       ...
2018-06-22 00:00:00       4
2018-06-15 00:00:00       1
2018-06-17 00:00:00       1
2018-06-07 00:00:00       1
2018-06-16 00:00:00       1
Name: checkin_date, Length: 105, dtype: int64
amount of empty 0
checkout_date
2018-07-29 00:00:00    1252
2018-08-19 00:00:00    1088
2018-09-16 00:00:00    1046
2018-08-05 00:00:00     981
2018-07-08 00:00:00     976
                       ...
2018-09-19 00:00:00     485
2018-09-06 00:00:00     476
2018-07-18 00:00:00     475
2018-07-11 00:00:00     467
2018-09-05 00:00:00     441
Name: checkout_date, Length: 91, dtype: int64
amount of empty 0
booking_datetime
2018-08-13 14:36:00    5
2018-07-07 13:25:00    5
2018-07-22 21:25:00    5
2018-07-03 20:44:00    5
2018-08-08 17:23:00    5
                      ..
2018-07-04 19:19:00    1
2018-07-28 04:43:00    1
2018-09-24 02:47:00    1
2018-09-17 00:36:00    1
2018-07-07 10:46:00    1
Name: booking_datetime, Length: 49976, dtype: int64
amount of empty 0
hotel_live_date
2009-06-28 02:02:00    4057
2010-07-08 07:40:00     131
2008-04-25 11:30:00     127
2017-11-02 13:21:00     126
2014-12-17 08:04:00     103
                       ...
2018-06-10 22:05:00       1
2017-11-20 16:41:00       1
2017-12-26 01:11:00       1
2017-07-13 17:57:00       1
2010-02-18 15:21:00       1
Name: hotel_live_date, Length: 19933, dtype: int64
amount of empty 0

In [33]:
CATEGORY_COLUMNS = ['hotel_id', 'hotel_country', 'accommadation_type_name', 'charge_option', 'customer_nationality',
                    'guest_nationality_country_name', 'origin_country_code', 'language', 'original_payment_method',
                    'original_payment_type', 'original_payment_currency', 'cancellation_policy_code', 'hotel_area_code',
                    'hotel_brand_code', 'hotel_chain_code', 'hotel_city_code', 'request_nonesmoke',
                    'request_latecheckin',
                    'request_highfloor',
                    'request_largebed',
                    'request_twinbeds',
                    'request_airport',
                    'request_earlycheckin']
# list all numerical columns
NUMERICAL_COLUMNS = ['no_of_adults',
                     'no_of_children',
                     'no_of_extra_bed',
                     'no_of_room',
                     'original_selling_amount']
BINARY_COLUMNS = ['charge_option',
                  'guest_is_not_the_customer',
                  'guest_is_not_the_customer',
                  'is_user_logged_in',
                  'is_first_booking']

In [34]:
# Loop through all binary columns and display basic summary of each column
for col in BINARY_COLUMNS:
    print(col)
    print(df[col].value_counts())
    # count the number of missing values
    print('amount of empty', df[col].isnull().sum())

charge_option
Pay Now            44170
Pay Later          14454
Pay at Check-in       35
Name: charge_option, dtype: int64
amount of empty 0
guest_is_not_the_customer
0    46055
1    12604
Name: guest_is_not_the_customer, dtype: int64
amount of empty 0
guest_is_not_the_customer
0    46055
1    12604
Name: guest_is_not_the_customer, dtype: int64
amount of empty 0
is_user_logged_in
True     38190
False    20469
Name: is_user_logged_in, dtype: int64
amount of empty 0
is_first_booking
False    45621
True     13038
Name: is_first_booking, dtype: int64
amount of empty 0

In [30]:
# print rows where request_nonesmoke is empty
df[df['request_nonesmoke'].isnull()]

,h_booking_id,booking_datetime,checkin_date,checkout_date,hotel_id,hotel_country_code,hotel_live_date,hotel_star_rating,accommadation_type_name,charge_option,...,request_highfloor,request_largebed,request_twinbeds,request_airport,request_earlycheckin,cancellation_datetime,hotel_area_code,hotel_brand_code,hotel_chain_code,hotel_city_code
0,-9223194055642672935,2018-06-28 21:15:00,2018-07-09 00:00:00,2018-07-13 00:00:00,6452,HK,2009-06-28 02:02:00,4.0,Hotel,Pay Now,...,NaN,NaN,NaN,NaN,NaN,NaN,1192,NaN,NaN,142
5,-9220467519202693449,2018-05-03 09:25:00,2018-08-21 00:00:00,2018-08-23 00:00:00,59272,PF,2014-01-16 08:03:00,3.0,Resort,Pay Later,...,NaN,NaN,NaN,NaN,NaN,2018-05-03,3146,NaN,NaN,1309
6,-9220037355644368516,2018-08-15 02:10:00,2018-08-18 00:00:00,2018-08-19 00:00:00,400966,TH,2012-10-15 11:45:00,3.5,Serviced Apartment,Pay Now,...,NaN,NaN,NaN,NaN,NaN,NaN,1703,NaN,NaN,2477
8,-9219730436418354424,2018-04-06 21:19:00,2018-07-22 00:00:00,2018-07-23 00:00:00,2973895,ID,2017-10-12 10:58:00,4.0,Hotel,Pay Now,...,NaN,NaN,NaN,NaN,NaN,NaN,744,10.0,297.0,88
10,-9219312947204772441,2018-06-05 11:32:00,2018-07-02 00:00:00,2018-07-07 00:00:00,44165,US,2012-03-15 05:02:00,2.5,Hotel,Pay Now,...,NaN,NaN,NaN,NaN,NaN,NaN,2378,NaN,NaN,1682
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58648,9220787993879515844,2018-07-13 22:21:00,2018-07-14 00:00:00,2018-07-15 00:00:00,401207,LA,2012-10-18 16:45:00,3.0,Hotel,Pay Now,...,NaN,NaN,NaN,NaN,NaN,NaN,3681,NaN,NaN,2544
58649,9220807686880359782,2018-05-19 10:54:00,2018-08-16 00:00:00,2018-08-21 00:00:00,281095,PH,2011-07-22 19:36:00,3.5,Hotel,Pay Later,...,NaN,NaN,NaN,NaN,NaN,NaN,3341,NaN,NaN,991
58653,9221798877883828412,2018-09-24 01:58:00,2018-09-24 00:00:00,2018-09-25 00:00:00,5455490,TH,2018-07-20 10:41:00,2.5,Guest House / Bed & Breakfast,Pay Now,...,NaN,NaN,NaN,NaN,NaN,NaN,3747,NaN,NaN,2477
58656,9222651806661094957,2018-06-08 23:23:00,2018-08-09 00:00:00,2018-08-11 00:00:00,407156,TH,2015-03-14 05:18:00,5.0,Hotel,Pay Now,...,NaN,NaN,NaN,NaN,NaN,NaN,3823,754.0,55.0,2477
58658,9223338323510018406,2018-07-07 10:46:00,2018-07-12 00:00:00,2018-07-14 00:00:00,2227632,HK,2017-06-19 10:06:00,4.0,Hotel,Pay Now,...,NaN,NaN,NaN,NaN,NaN,NaN,3023,477.0,638.0,142

In [38]:
NUMERICAL_COLUMNS = ['no_of_adults',
                     'no_of_children',
                     'no_of_extra_bed',
                     'no_of_room',
                     'original_selling_amount']

for col in NUMERICAL_COLUMNS:
    print(col)
    print(df[col].value_counts())
    # count the number of missing values
    print('amount of empty', df[col].isnull().sum())

no_of_adults
2     40092
1      6886
4      5597
3      3618
6      1162
5       476
8       370
10      125
7       101
12       79
9        58
18       23
16       22
14       19
11       14
15        5
13        4
17        2
27        2
20        2
30        1
38        1
Name: no_of_adults, dtype: int64
amount of empty 0
no_of_children
0     53351
1      2658
2      2163
3       311
4       128
5        22
6        18
7         6
8         1
10        1
Name: no_of_children, dtype: int64
amount of empty 0
no_of_extra_bed
0    58033
1      590
2       27
3        8
5        1
Name: no_of_extra_bed, dtype: int64
amount of empty 0
no_of_room
1    52906
2     4291
3      939
4      290
5      134
6       40
9       24
7       20
8       15
Name: no_of_room, dtype: int64
amount of empty 0
original_selling_amount
122.63    19
15.00     17
37.05     16
22.00     14
31.82     13
          ..
588.72     1
163.05     1
942.92     1
799.75     1
206.02     1
Name: original_selling_amount, Length: 30063, dtype: int64
amount of empty 0

In [43]:
CATEGORY_COLUMNS = ['hotel_id', 'hotel_country_code', 'accommadation_type_name', 'charge_option', 'customer_nationality',
                    'guest_nationality_country_name', 'origin_country_code', 'language', 'original_payment_method',
                    'original_payment_type', 'original_payment_currency', 'cancellation_policy_code', 'hotel_area_code',
                    'hotel_brand_code', 'hotel_chain_code', 'hotel_city_code', 'request_nonesmoke',
                    'request_latecheckin',
                    'request_highfloor',
                    'request_largebed',
                    'request_twinbeds',
                    'request_airport',
                    'request_earlycheckin']

for col in CATEGORY_COLUMNS:
    print(col)
    print(df[col].value_counts())
    # count how many unique values
    print('amount of unique', df[col].nunique())
    # count the number of missing values
    print('amount of empty', df[col].isnull().sum())

hotel_id
6452       353
461790      74
3080111     57
304294      56
337607      50
          ...
4732         1
4965333      1
290611       1
3114795      1
176955       1
Name: hotel_id, Length: 28865, dtype: int64
amount of unique 28865
amount of empty 0
hotel_country_code
JP    9087
TH    7908
MY    7669
TW    5036
ID    3642
      ...
UG       1
CM       1
BJ       1
HN       1
PG       1
Name: hotel_country_code, Length: 129, dtype: int64
amount of unique 129
amount of empty 4
accommadation_type_name
Hotel                            42828
Resort                            5655
Guest House / Bed & Breakfast     2914
Hostel                            2633
Serviced Apartment                1470
Apartment                         1175
Motel                              573
Resort Villa                       357
Capsule Hotel                      320
Ryokan                             288
Bungalow                           113
Home                               106
UNKNOWN                             76
Private Villa                       62
Holiday Park / Caravan Park         42
Tent                                20
Love Hotel                          10
Boat / Cruise                        7
Inn                                  3
Lodge                                3
Homestay                             2
Chalet                               2
Name: accommadation_type_name, dtype: int64
amount of unique 22
amount of empty 0
charge_option
Pay Now            44170
Pay Later          14454
Pay at Check-in       35
Name: charge_option, dtype: int64
amount of unique 3
amount of empty 0
customer_nationality
South Korea            7726
Malaysia               7622
Taiwan                 6302
Thailand               4285
China                  3383
                       ...
Gambia                    1
Madagascar                1
Somalia                   1
Azerbaijan                1
Trinidad and Tobago       1
Name: customer_nationality, Length: 140, dtype: int64
amount of unique 140
amount of empty 0
guest_nationality_country_name
South Korea                 8218
Malaysia                    7752
Taiwan                      6629
Thailand                    4409
China                       3876
                            ...
Central African Republic       1
Mali                           1
Eswatini                       1
Faroe Islands                  1
Trinidad & Tobago              1
Name: guest_nationality_country_name, Length: 147, dtype: int64
amount of unique 147
amount of empty 0
origin_country_code
KR    7822
MY    7791
TW    6524
TH    5367
JP    3167
      ...
CW       1
SS       1
PS       1
GM       1
TZ       1
Name: origin_country_code, Length: 145, dtype: int64
amount of unique 145
amount of empty 2
language
English                     21533
Korean                       8288
T. Chinese / Taiwan          7204
S.Chinese / Mainland         4078
Japanese                     3050
Thai                         3027
T.Chinese / Hongkong         2370
English / United Kingdom     1638
Indonesian                    977
Vietnamese                    799
German                        684
French                        634
English / Australia           602
Arabic                        564
English / Singapore           503
Malay                         343
Russian                       304
Spanish                       281
Italian                       237
English / India               213
Dutch                         187
Hebrew                        183
English / Canada              153
Swedish                       119
Norwegian                     114
Turkish                        90
Danish                         80
Portuguese                     55
Polish                         51
Finnish                        42
English / South-Africa         41
Portuguese / Brazil            34
English / New Zealand          32
English / Ireland              27
Czech                          21
Catalan                        18
Spanish / Argentina            12
Greek                          12
Hungarian                      11
Romanian                       10
Spanish / Mexico               10
Dutch / Belgium                 7
Ukrainian                       5
Lithuanian                      4
Slovenian                       4
Bulgarian                       3
Latvian                         3
Estonian                        1
Croatian                        1
Name: language, dtype: int64
amount of unique 49
amount of empty 0
original_payment_method
Visa                     28821
MasterCard               17388
UNKNOWN                   4076
American Express          2719
JCB                       1392
Alipay                    1190
PayPal                     666
MayBank2U                  551
UnionPay - Creditcard      362
WeChat                     249
K PLUS                     247
CIMB Clicks Malaysia       241
ATM Bersama                100
Apple Pay                   94
Indomaret                   91
PBe                         56
UnionPay - Debit Card       55
KTB                         44
Hong Leong Connect          42
Alfamart                    39
IDEAL                       36
RHB Now                     31
SCB                         29
Family Mart                 24
Bank Islam                  24
7Eleven                     23
Tesco Lotus                 16
AmOnline                    12
Discover                     9
BAY                          8
BBL                          8
Big C                        8
Affin Online                 3
mPay                         2
Prima                        2
Thanachart                   1
Name: original_payment_method, dtype: int64
amount of unique 36
amount of empty 0
original_payment_type
Credit Card    57643
Invoice          786
Gift Card        230
Name: original_payment_type, dtype: int64
amount of unique 3
amount of empty 0
original_payment_currency
MYR    7633
KRW    7419
TWD    6587
USD    4625
THB    4542
CNY    3664
JPY    3364
HKD    3321
SGD    2459
IDR    2419
EUR    2394
PHP    1953
AUD    1624
GBP    1285
VND    1152
INR     711
SAR     566
AED     411
CAD     326
RUB     282
ILS     231
NZD     212
CHF     180
ZAR     153
TRY     148
NOK     142
SEK     142
PKR     118
OMR     109
DKK      79
KWD      66
QAR      56
BHD      50
LKR      44
PLN      40
MXN      27
EGP      25
ARS      20
CZK      16
HUF       9
BDT       9
KZT       8
JOD       7
UAH       6
NGN       6
FJD       6
BRL       4
RON       3
XPF       3
KHR       2
LAK       1
Name: original_payment_currency, dtype: int64
amount of unique 51
amount of empty 0
cancellation_policy_code
365D100P_100P        15971
1D1N_1N               8810
3D1N_1N               3432
1D100P                2518
3D1N_100P             2457
                     ...
8D49P_3D100P_100P        1
57D100P                  1
999D100P_100P            1
20D100P_100P             1
116D100P_100P            1
Name: cancellation_policy_code, Length: 801, dtype: int64
amount of unique 801
amount of empty 0
hotel_area_code
3747    874
1192    728
643     513
4463    502
606     479
       ...
3820      1
5683      1
2243      1
2676      1
5773      1
Name: hotel_area_code, Length: 5576, dtype: int64
amount of unique 5576
amount of empty 0
hotel_brand_code
777.0    354
442.0    325
593.0    267
51.0     264
253.0    263
        ...
64.0       1
535.0      1
620.0      1
432.0      1
633.0      1
Name: hotel_brand_code, Length: 890, dtype: int64
amount of unique 890
amount of empty 43356
hotel_chain_code
600.0    889
296.0    765
55.0     467
675.0    463
181.0    413
        ...
126.0      1
485.0      1
484.0      1
667.0      1
209.0      1
Name: hotel_chain_code, Length: 647, dtype: int64
amount of unique 647
amount of empty 42902
hotel_city_code
2477    3165
2797    2370
1403    2208
142     1651
162     1428
        ...
782        1
2044       1
1245       1
625        1
1587       1
Name: hotel_city_code, Length: 2671, dtype: int64
amount of unique 2671
amount of empty 0
request_nonesmoke
1.0    24137
0.0     9482
Name: request_nonesmoke, dtype: int64
amount of unique 2
amount of empty 25040
request_latecheckin
0.0    32713
1.0      906
Name: request_latecheckin, dtype: int64
amount of unique 2
amount of empty 25040
request_highfloor
0.0    28548
1.0     5071
Name: request_highfloor, dtype: int64
amount of unique 2
amount of empty 25040
request_largebed
0.0    20452
1.0    13167
Name: request_largebed, dtype: int64
amount of unique 2
amount of empty 25040
request_twinbeds
0.0    28274
1.0     5345
Name: request_twinbeds, dtype: int64
amount of unique 2
amount of empty 25040
request_airport
0.0    33384
1.0      235
Name: request_airport, dtype: int64
amount of unique 2
amount of empty 25040
request_earlycheckin
0.0    32497
1.0     1122
Name: request_earlycheckin, dtype: int64
amount of unique 2
amount of empty 25040